<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.chinamobile.dao.mybatis.mapper.UdpExempEnbMapper" >
  <resultMap id="BaseResultMap" type="com.cn.chinamobile.pojo.mybatis.UdpExempEnb" >
    <constructor >
      <arg column="vendor" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="version" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="swversion" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="datatype" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pmname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="grade" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="excetype" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="excereasion" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    vendor, type, version,swversion, datatype, pmname, grade, excetype, excereasion
  </sql>

  <select id="selectByParas" resultMap="BaseResultMap" parameterType="map" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from udp_exemp_data
    where type = #{type,jdbcType=VARCHAR} and
    ((vendor= #{vendor,jdbcType=VARCHAR} and version= #{version,jdbcType=VARCHAR})
      or (vendor= #{vendor,jdbcType=VARCHAR} and version= 'ALL')
      or vendor= 'ALL')
  </select>


  <insert id="insert" parameterType="com.cn.chinamobile.pojo.mybatis.UdpExempEnb" >
    insert into udp_exemp_data (vendor, type, version, 
      swversion, datatype, pmname, 
      grade, excetype, excereasion
      )
    values (#{vendor,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, 
      #{swversion,jdbcType=VARCHAR}, #{datatype,jdbcType=VARCHAR}, #{pmname,jdbcType=VARCHAR}, 
      #{grade,jdbcType=VARCHAR}, #{excetype,jdbcType=VARCHAR}, #{excereasion,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.cn.chinamobile.pojo.mybatis.UdpExempEnb" >
    insert into udp_exemp_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vendor != null" >
        vendor,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="swversion != null" >
        swversion,
      </if>
      <if test="datatype != null" >
        datatype,
      </if>
      <if test="pmname != null" >
        pmname,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="excetype != null" >
        excetype,
      </if>
      <if test="excereasion != null" >
        excereasion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vendor != null" >
        #{vendor,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="swversion != null" >
        #{swversion,jdbcType=VARCHAR},
      </if>
      <if test="datatype != null" >
        #{datatype,jdbcType=VARCHAR},
      </if>
      <if test="pmname != null" >
        #{pmname,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="excetype != null" >
        #{excetype,jdbcType=VARCHAR},
      </if>
      <if test="excereasion != null" >
        #{excereasion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>