<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.chinamobile.dao.mybatis.mapper.UdpLoseDatatypeMapper" >
  <resultMap id="BaseResultMap" type="com.cn.chinamobile.pojo.mybatis.UdpLoseDatatype" >
    <constructor >
      <arg column="taskid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="province" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="city" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="datatype" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.cn.chinamobile.pojo.mybatis.UdpLoseDatatype" >
    insert into udp_losedatatype (taskid, province, city, 
      datatype)
    values (#{taskid,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{datatype,jdbcType=VARCHAR})
  </insert>

  <delete id="deletebytaskid" parameterType="java.lang.Integer">
    delete from udp_losedatatype where taskid = #{taskid,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.cn.chinamobile.pojo.mybatis.UdpLoseDatatype" >
    insert into udp_losedatatype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskid != null" >
        taskid,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="datatype != null" >
        datatype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskid != null" >
        #{taskid,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="datatype != null" >
        #{datatype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>